<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
    <style type="text/css">
       
       .box {
              display: flex;
              flex-wrap: wrap;
            }

       .row{
              flex-basis: 100%;
              display:flex;
            }

       .row:nth-child(2){
              justify-content: space-between;
            }

       .row:nth-child(3){
              justify-content: space-between;
            }
    </style>
    </head>

    <body>

            <div class="box">
              
              <div class="row">
                <span class="item">
                    <form id="uploadForm" enctype="multipart/form-data">
                    <input id="file" type="file" name="file" > 
                    <input type="radio" name="radio" value="ppt" />PPT 
                    <input type="radio" name="radio" value="word" />脚本文件
                    <input type="radio" name="radio" value="accessibility" />无障碍字幕
                    <input type="radio" name="radio" value="gloss" />手语转写
                    <input type="radio" name="radio" value="video" />视频
                    <button id="upload" type="button" onclick="postRequest()"  style="margin:20px">上传</button>
                   </form>
                </span>
              </div>
              <div id="app" class="row">
                 <span class="item">PPT文件列表
                    <!-- <form id="deleteFile" enctype="multipart/form-data"> -->
                    <ul>
                        <li v-for="item in itemList" :id="item.id"> <!-- :id="item.id" style="list-style-type: none;" -->
                            文件名字：{{item.filename}}
                            文件大小：{{item.filesize}}
                            <a href="F:\moocPro\server\MOOCSERVER_V01\files\ppt\test.txt">
                                <button id="open" v-on:click="openFile(item.filename)">打开</button>
                            </a>
                            <button id="delete" v-on:click="deleteFile(item.filename)">删除</button></br>
                        </li>
                    </ul>
                   <!-- </form> -->
                 </span>
                 <span class="item">脚本文件列表</span>
              </div>
              <div class="row">
                <span class="item">无障碍字幕文件列表</span>
                <span class="item">手语转写文件列表</span>
                <span class="item">视频文件列表</span>
              </div>
            </div>
        <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
        
       <!--  <script src="https://127.0.0.1:8000/JSON/json2.js"></script> -->
        
        <script>
             var app = new Vue({
                el:"#app",
                data:{
                //声明空数组，进行数据接收，最后传递到前端页面
                itemList:[], 
                },
                //向data数组里添加数据
                mounted:function(){
                this.getData();
                },
                methods: {

                getData:function () {
                var self = this;
                this.$http.get("http://127.0.0.1:8000/getFileNames/").then(function (res) {
                 
                console.log(res);
                 
                //var lens = res.body.lists.length;
                //console.log(lens);
                //获取了当前数组的长度，为3
                console.log(res.body.lists);
                
                for(var i= 0,len=res.body.lists.length;i<len;i++){
                //已经获取json数组中的数据，接下来如何传递到前端页面中
                //获取全部数据
                var selData = res.body.lists[i]; 
                console.log(selData);
                console.log(selData.filename)
                 
                //获取数组中的部分数据
                // var part = res.body.lists[i].filename;
                // console.log(part);
                //将获取的数据push到空的数组中itenList，
                 
                self.itemList.push(selData);
                //  console.log("ldskjf")
                // }
                // })
               }
})
},
               deleteFile:function(params){
                       console.log('delete')
                       alert(params);
                       
                    Vue.http.post("http://127.0.0.1:8000/deleteFile/", {'name':params},{emulateJSON:true}).then(function(response) {
                    return response.text();
                    console.log(response)
                }, function(err) {
                    //alert("goodbye world")
                    console.log(err)
                }).then((text) => {
                    // console.log(text)
                    this.msg = text;
                     alert(this.msg);
                });

               },
               openFile:function(params){
                   console.log('open')
                   alert(params);
                   Vue.http.post("http://127.0.0.1:8000/openFile/", {'name':params},{emulateJSON:true}).then(function(response) {
                   return response.text();
                   
                }, function(err) {
                    //alert("goodbye world")
                    console.log(err)
                }).then((text) => {
                    // console.log(text)
                    this.msg = text;
                    var iframe = document.createElement("iframe");  
                    document.body.appendChild(iframe);  
                    iframe.src = this.msg;
                    alert(this.msg);
                });

               }
}
});
        </script>
        <script>            
                function postRequest(url, params) {
                    var radios = document.getElementsByName("radio");
                    var tag = false;
                    var val;
                    for(radio in radios) {
                       if(radios[radio].checked) {
                          tag = true;
                          val = radios[radio].value;
                          break;
                       }
                    }
                    if(tag) {
                       alert("需要上传的文件类型是：" + val);
                    } 
                    else {
                      alert("请选择上传的文件类型");
                    } 
                    //var testFormData = new FormData();
                    //testFormData.append(file,document.getElementById('file').files[0]);
                    //filename是键，file是值，就是要传的文件，test.zip是要传的文件名
                   console.log(document.getElementById('file').files[0])
                   console.log(val)
                   // var a = document.getElementsByName('radio').value 
                   // console.log(a)
                   var formdata = new FormData();
                   formdata.append('file', document.getElementById('file').files[0]);
                   formdata.append('type',val);
                   console.log(formdata.get('type'))
                   Vue.http.post("http://127.0.0.1:8000/mgmt_files/", formdata, {
                        headers: {
                            'Content-type': 'multipart/form-data'
                        }
                    }).then(function(response) {
                    return response.text();
                    console.log(response)
                }, function(err) {
                    //alert("goodbye world")
                    console.log(err)
                }).then((text) => {
                    // console.log(text)
                    this.msg = text;
                     alert(this.msg);
                });
                
                }
                
        </script>
    </body>

</html>