<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <div id="app">
            <div class="container">
                <simple-grid :response-msg="responseMsg"  :columns="gridColumns">
                </simple-grid>
            </div>
        </div>

        <template id="grid-template">
            <span v-text="responseMsg"></span>
             <table>
                <thead>
                    <tr>
                        <th v-for="col in columns">
                            {{ col | uppercase}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(index,entry) in responseMsg">
                        <td v-for="col in columns">
                            {{entry[col]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
        <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
        <script>
            Vue.component('simple-grid', {
                template: '#grid-template',
                props: ['responseMsg', 'columns']
               // props: ['responseMsg']
            })
        </script>
        <script>
             var demo = new Vue({
                el: '#app',
                data: {
                    gridColumns: ['filename', 'filesize'],
                    responseMsg: [],
                    apiUrl: 'http://127.0.0.1:8080'
                },
                created() {
                    console.log('created')
                    this.getCustomers()
                },
                methods: {
                    getCustomers: function() {
                        this.$http.post(this.apiUrl)
                            .then((response) => {
                                console.log(response.data)
                                console.log((response.body)[0])
                                //this.$set('responseMsg',(response.body)[0].res)
                                this.responseMsg= response.data
                            })
                            .catch(function(response) {
                                //console.log('ni mei ya')
                                console.log(response)

                            })
                    }
                }
            })
        </script>
    </body>

</html>